@import "tailwindcss";
@plugin "tailwindcss-motion";

* {
    --background: #ffff;
    --primary: #000000;
    --secondary: #f9f9f9;
    --border: #e5e5e5;
}

body {
    background-color: var(--background);
    color: var(--primary);
}

